body {
    font-family: 'Inter', sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #5988FF; /* El color del fondo de la página web */
    color: #ffffff; /* El color del texto*/ 
}
h1 {
    color: #31066b ; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}

.img1{

    width: 350px;
    height: 350px;
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: #31066b;
    }
  
    100% {
      color: blue;
    }
}

h1:hover {
    animation: color-change 1s infinite;
}
 
